@model ShowsViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container mx-auto px-4 pt-16">
    <div class="popular-shows">
        <h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">Popular shows</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
            @foreach (var show in Model.NowAiringShows)
            {
                <partial name="_ShowCard" model="@show" />
            }

        </div>
    </div> <!-- end pouplar-shows -->

    <div class="now-playing-shows py-24">
        <h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">Now Playing</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
            @foreach (var show in Model.NowAiringShows)
            {
                <partial name="_ShowCard" model="@show" />
            }
        </div>
    </div> <!-- end now-playing-shows -->
</div>



